/* Container */
.welcome-box {
  display: flex;
    max-width: 400px;
    height: 65vh;
    margin: 60px auto;
    padding: 40px 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 24%);
    text-align: center;
    font-family: 'Segoe UI', Arial, sans-serif;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* Logo Row */
.logo-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
}

.circle {
  background: #2563eb; /* blue */
  color: white;
  font-weight: bold;
  font-size: 2rem;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.brand {
  font-size: 2.3rem;
  font-weight: 600;
  color: #111;
}

/* Tagline */
.tagline {
  font-size: 2rem;
  font-weight: 600;
  color: #111;
  line-height: 1.4;
  margin-bottom: 40px;
}

/* Button */
.get-started-btn {
  background: #2563eb;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 14px 20px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  transition: 0.3s;
}

.get-started-btn:hover {
  background: #1e4fc6;
}

/* Mobile Responsive */
@media (max-width: 480px) {
  .welcome-box {
    margin: 40px 16px;
    padding: 30px 16px;
  }
  .tagline {
    font-size: 1.7rem;
  }
  .get-started-btn {
    font-size: 20px;
   
  }
}
